# ----------------------
# Go build artifacts
# ----------------------
/wallet-app
/bin/
/build/
*.exe
*.test
*.out

# ----------------------
# Environment files
# ----------------------
.env
.env.local

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE / Editor files
# ----------------------
.vscode/
.idea/
*.iml
*.swp
